name: Publish Website to Bucket

on:
  push:
    branches:
      - master

env:
  AWS_DEFAULT_REGION: us-west-2
  BUCKET_NAME: www.dakotaadams.tech

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Upload to S3
        run: |
          aws s3 sync --size-only Content s3://$BUCKET_NAME/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
